<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>shaun.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>selfServiceServlet</servlet-name>
        <servlet-class>shaun.SelfServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>selfServiceServlet</servlet-name>
        <url-pattern>/shaun</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>shaun.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout/*</url-pattern>
    </servlet-mapping>

    <!--<filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>shaun.filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>401</error-code>
        <location>/login</location>
    </error-page>-->

</web-app>